[submodule "HdrHistogram_c"]
	path = HdrHistogram_c
	url = https://github.com/HdrHistogram/HdrHistogram_c.git
[submodule "yaml-cpp"]
	path = yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "replicated-splinterdb/replicated-splinterdb"]
	path = replicated-splinterdb/replicated-splinterdb
	url = https://github.com/nkaush/replicated-splinterdb.git
[submodule "rethinkdb/librethinkdbxx"]
	path = rethinkdb/librethinkdbxx
	url = https://github.com/AtnNn/librethinkdbxx
